extends layout

block content
  h1 Home Page
  p
    | Welcome to the Homepage of my sample project!  I prepared this specifically
    | for job applications to showcase some of my Node.js experience.  I am currently
    | in the process of learning how to host this project on AWS, but for now I just have
    | it on my laptop using MongoDB locally. Once logged in, a user can use the contact page
    | to email me.  ANy user is free to create an account, the 'register' page is available BEFORE
    | login authentication.
