extends layout

block content
  h1 Home Page
  p
    | Welcome to the Homepage of my sample project!  I prepared this specifically
    | for job applications to showcase some of my Node.js experience.  I built this
    | website using skills and file structure learned in both my classes at the University
    | of Minnesota and my own personal projects.  It is running in the background of an AWS
    | EC2 instance, all user information for login authentication is stored using MongoDB. 
