extend layout

block content
  p
    | Welcome to my resume page!  Feel free to take a look at my resume below
    | or download a PDF version. A link to the source code for this application
    | can be found at my github account link, please feel free to look at any of
    | the work found there. 
